{% extends "base.html" %}
{% load static %}
{% block title %}Login{% endblock %}

{% block content %}
<header id="header" class="fixed-top">
  <div class="container d-flex align-items-center">
    <h1 class="logo me-auto"><a href="{% url 'index' %}">Libre EPS</a></h1>
    
  </div>
</header><br><br><br>
<div class="container">
  <div class="row">
    <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
      <div class="card border-0 shadow rounded-3 my-5">
        <div class="card-body p-4 p-sm-5">
          <div class="tab-content">
            <div class="tab-pane fade show active" id="pills-login" role="tabpanel" aria-labelledby="tab-login">
              <form method="POST" enctype="multipart/form-data" action="{% url 'login' %}">
                {% csrf_token %}
                <!--<div class="form-outline mb-4">
                  <select name="card_type"  class="form-control">
                    <option value="cedula">Cédula de Ciudadanía</option>
                    <option value="tarjeta">Tarjeta de Identidad</option>
                    <option value="extranjeria">Cédula de Extranjería</option>
                    <option value="pasaporte">Pasaporte</option>
                    <option value="reg_civil">Registro Civil</option>
                    <option value="adul_no_identificado">Adulto no identificado</option>
                    <option value="menor_no_identificado">Menor no identificado</option>
                    <option value="diplomatico">Documento Diplomático</option>
                    <option value="salvo_conducto">Salvoconducto</option>
                    <option value="pep">Permiso especial de permanencia</option>
                    <option value="ppt">Permiso por protección temporal</option>
                  </select>
                  <label class="form-label" for="loginName">Tipo de documento</label>
                </div>-->
                <div class="form-outline mb-4">
                  <input type="text" id="username" class="form-control" name="username" 
                    oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);"
                    maxlength="10" />
                  <label class="form-label" for="username">Número de identificación</label>
                </div>
                <!-- Password input -->
                <div class="form-outline mb-4">
                  <input type="password" id="password" class="form-control" name="password" />
                  <label class="form-label" for="password">Contraseña</label>
                </div>
                
                <!-- 2 column grid layout -->
                <div class="text-center">
                  <!-- Simple link -->
                  <a href="#!">¿Olvidó su contraseña?</a><br><br>
                </div>
                <div class="form-btn-div">
                  <button type="submit" class="form-btn">Iniciar sesión</button>
                </div>
            </div><br>
            <!-- Register buttons -->
            <div class="text-center">
              <p>¿No es usuario? <a href="{% url 'register' %}">Registrarse</a></p>
            </div>
            </form>
            {% if error_message %}
              <p style="color: red;">{{ error_message }}</p>
              {% endif %}
          </div>

        </div>
        <!-- Pills content -->
      </div>
    </div>
  </div>
</div>
</div>
{% endblock %}