{% extends "base.html" %}
{% load static %}
{% block title %}Registro{% endblock %}
{% block content %}
<header id="header" class="fixed-top">
  <div class="container d-flex align-items-center">
    <h1 class="logo me-auto"><a href="{% url 'index' %}">Libre EPS</a></h1>
  </div>
</header>
<br><br><br>
<div class="container">
  <div class="row">
    <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
      <div class="card border-0 shadow rounded-3 my-5">
        <div class="card-body p-4 p-sm-5">
          <!--<h2>Regístrese</h2>-->
          <div class="tab-content">
            <div class="tab-pane fade show active" id="pills-login" role="tabpanel" aria-labelledby="tab-login">
              <form method="POST" enctype="multipart/form-data" action="{% url 'register' %}">
                {% csrf_token %}
                <div class="form-outline mb-4">
                  <select name="card_type" class="form-control" required>
                    <option value="cedula">Cédula de Ciudadanía</option>
                    <option value="tarjeta">Tarjeta de Identidad</option>
                    <option value="extranjeria">Cédula de Extranjería</option>
                    <option value="pasaporte">Pasaporte</option>
                    <option value="reg_civil">Registro Civil</option>
                    <option value="adul_no_identificado">Adulto no identificado</option>
                    <option value="menor_no_identificado">Menor no identificado</option>
                    <option value="diplomatico">Documento Diplomático</option>
                    <option value="salvo_conducto">Salvoconducto</option>
                    <option value="pep">Permiso especial de permanencia</option>
                    <option value="ppt">Permiso por protección temporal</option>
                  </select>
                  <label class="form-label" for="loginName">Tipo de documento</label>
                </div>

                <div class="form-outline mb-4">
                  <input type="number" id="Document" class="form-control" name="username"
                    oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);"
                    maxlength="10" required />
                  <label name="username" class="form-label" for="Document">Número de documento</label>
                </div>
            </div>
            <div class="form-outline mb-4">
              <input type="text" id="first_name" class="form-control" name="first_name" required />
              <label class="form-label" for="first_name">Nombre:</label>
            </div>

            <div class="form-outline mb-4">
              <input type="email" id="email" class="form-control" required />
              <label class="form-label" for="email">Correo:</label>
            </div>

            <div class="form-outline mb-4">
              <input type="password" name="password1" id="password1" class="form-control" required />
              <label class="form-label" for="password1">Contraseña:</label>

            </div>
            <div class="form-outline mb-4">
              <input type="password" id="password2" class="form-control" name="password2" required />
              <label class="form-label" for="password2">Confirme contraseña:</label>
              {% if error_message %}
              <p style="color: red;">{{ error_message }}</p>
              {% endif %}
            </div>
            <div class="text-center">
              <p>¿Ya tiene cuenta? <a href="{% url 'login' %}">Inicie sesión</a></p>
            </div>

            <div class="form-btn-div"><button type="submit" class="form-btn">Registrarse</button></div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</div>

{% endblock %}