{% extends "base.html" %}
{% load static %}
{% block title %}Registro{% endblock %}

{% block content %}
<form method="post" action="{% url 'update' d pk=user.pk}">
    {% csrf_token %}
    {{ form.as_p }}
    <div class="form-btn-div"></div><a href="{% url 'profile' epsuser.id %}" class="form-btn" type="submit">Actualizar</a></div>
</form>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
{% endblock %}
