{% extends "base.html" %}
{% load static %}
{% block title %}Autorizaciones{% endblock %}

{% block content %}
<header id="header" class="fixed-top">
    <div class="container d-flex align-items-center">
        <h1 class="logo me-auto"><a href="{% url 'index' %}">Libre EPS</a></h1>
        <nav id="navbar" class="navbar order-last order-lg-0">
          <ul>
            <li><a class="nav-link scrollto active" href="{% url 'office:profile' %}">Inicio</a></li>
            <li><a class="nav-link scrollto" href="{% url 'office:quotes' %}">Citas médicas</a></li>
            <li class="dropdown"><a href="#contact"><span>Canales de atención</span> <i class="bi bi-chevron-right"></i></a>
              <ul>
                <li><a href="{% url 'office:pqr' %}">Registrar PQRS</a></li>
                <li><a href="#">Contáctenos</a></li>
              </ul>
            </li>          
          </ul>
          <i class="bi bi-list mobile-nav-toggle"></i>
        </nav>
        {% if user.is_authenticated %}
            <div class="ms-auto" style="display: flex; flex-direction: column; align-items: flex-end;">          
                <h1 class="logo " id="page-title"><a>Usuario: Julian Acosta</a></h1>
                <a href="{% url 'office:logout' %}" style="text-decoration: none; color: #0474cc; margin-bottom: 5px;">Cerrar sesión</a>
                
            </div>
        {% else %}
            <h1 class="logo ms-auto" id="page-title"><a href="{% url 'login' %}">Iniciar sesión</a></h1>
        {% endif %}
    </div>
  </header>
<br><br><br>
<style>
    @media (max-width: 992px) {
  .col-lg-4 {
    flex:   auto;
    width: 100%;
  }
}
body{
        background-color: rgba(25, 119, 204, 0.2);
        /*background-color: #f1f7fd;*/
    }
  </style>
<section id="services_"  class="services">
<div class="container text-center ">
        <div class="row ">
            <div class="custom-row" style="display: flex;justify-content: space-around;flex-direction: row;">
                <div class="col-lg-4 col-md-6 align-items-stretch mt-4 ">
                    <div class="icon-box">
                        <div class="icon"><i class="fas fa-hospital-user"></i></div>
                        <h4><a href="{% url 'office:new_auth' %}">Solicitar autorizaciones</a></h4>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 align-items-stretch mt-4 ">
                    <div class="icon-box">
                        <div class="icon"><i class="fas fa-hospital-user"></i></div>
                        <h4><a href="{% url 'office:authorized' %}">Consultar autorizaciones</a></h4>
                    </div>
                </div>
            </div>
        </div>
</div>
</section>

{% endblock %}