{% extends "base.html" %}
{% load static %}
{% block title %}Autorizaciones{% endblock %}

{% block content %}
<header id="header" class="fixed-top">
    <div class="container d-flex align-items-center">
        <h1 class="logo me-auto"><a href="{% url 'index' %}">Libre EPS</a></h1>
        <nav id="navbar" class="navbar order-last order-lg-0">
          <ul>
            <li><a class="nav-link scrollto active" href="{% url 'office:profile' %}">Inicio</a></li>
            <li><a class="nav-link scrollto" href="{% url 'office:authorizations' %}">Autorizaciones</a></li>
            <li><a class="nav-link scrollto" href="{% url 'office:quotes' %}">Citas médicas</a></li>
            <li class="dropdown"><a href="#contact"><span>Canales de atención</span> <i class="bi bi-chevron-right"></i></a>
              <ul>
                <li><a  href="{% url 'office:pqr' %}">Registrar PQRS</a></li>
                <li><a href="#">Contáctenos</a></li>
              </ul>
            </li>          
          </ul>
          <i class="bi bi-list mobile-nav-toggle"></i>
        </nav>
        {% if user.is_authenticated %}
            <div class="ms-auto" style="display: flex; flex-direction: column; align-items: flex-end;">          
                <h1 class="logo " id="page-title"><a>Usuario: Julian Acosta</a></h1>
                <a href="{% url 'office:logout' %}" style="text-decoration: none; color: #0474cc; margin-bottom: 5px;">Cerrar sesión</a>
                
            </div>
        {% else %}
            <h1 class="logo ms-auto" id="page-title"><a href="{% url 'login' %}">Iniciar sesión</a></h1>
        {% endif %}
    </div>
  </header>
<br><br><br>
<style>
    @media (max-width: 992px) {
        .col-lg-4 {
            flex: auto;
            width: 100%;
        }
    }

    body {
        background-color: rgba(25, 119, 204, 0.2);
        /*background-color: #f1f7fd;*/
    }



    .table-primary th {
        background-color: #0474cc !important;
        color: #fff;
    }
</style>

<div class="container mt-4">
    <br><br>
    <div class="table-responsive">
        <table class="table table-bordered">
            <thead class="table-primary">
                <tr>
                    <th>Nombre</th>
                    <th>Prestador</th>
                    <th>Fecha Inicio</th>
                    <th>Fecha Final</th>
                    <th>Autorización</th>
                </tr>
            </thead>
            <tbody>
                {% for authorization in authorizations %}
                <tr>
                    <td>{{ authorization.name }}</td>
                    <td>{{ authorization.ips }}</td>
                    <td>{{ authorization.b_date }}</td>
                    <td>{{ authorization.e_date }}</td>
                    <td>
                        <a href="{{ authorization.auth_file.url }}" download>Descargar</a>
                    </td>
                </tr>
                {% endfor %}
                <tr>
                    <td>ACETAMINOFEN 500MG + PROZAC 65MG</td>
                    <td>CRUZ VERDE</td>
                    <td>2023-12-01</td>
                    <td>2024-01-01</td>
                    <td>
                        <a href="{% static 'ruta/a/otro/archivo.pdf' %}" target="_blank">Ver PDF</a>
                    </td>
                </tr>
                <!-- Agrega más filas según tus datos -->
            </tbody>
        </table>
    </div>
</div>

{% endblock %}