{% extends "base.html" %}
{% load static %}
{% block title %}Certificaciones{% endblock %}

{% block content %}
    <form action="../index.html">
        <input type="submit" value="Back">
    </form>
    <form action="login.html">
        <input type="submit" value="Exit">
    </form>
    <h1>Certifications</h1>
    <p>Here you can get whatever you need about your certifications</p>
    {% endblock %}
