{% extends "base.html" %}
{% load static %}
{% block title %}Autorizaciones{% endblock %}

{% block content %}

<header id="header" class="fixed-top">
  <div class="container d-flex align-items-center">
      <h1 class="logo me-auto"><a href="{% url 'index' %}">Libre EPS</a></h1>
      <nav id="navbar" class="navbar order-last order-lg-0">
        <ul>
          <li><a class="nav-link scrollto active" href="{% url 'office:profile' %}">Inicio</a></li>
          
          <li><a class="nav-link scrollto" href="{% url 'office:quotes' %}">Citas médicas</a></li>
          <li class="dropdown"><a href="#contact"><span>Canales de atención</span> <i class="bi bi-chevron-right"></i></a>
            <ul>
              <li><a  href="{% url 'office:pqr' %}">Registrar PQRS</a></li>
              <li><a href="#">Contáctenos</a></li>
            </ul>
          </li>          
        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav>
      {% if user.is_authenticated %}
          <div class="ms-auto" style="display: flex; flex-direction: column; align-items: flex-end;">          
              <h1 class="logo " id="page-title"><a>Usuario: Julian Acosta</a></h1>
              <a href="{% url 'office:logout' %}" style="text-decoration: none; color: #0474cc; margin-bottom: 5px;">Cerrar sesión</a>
              
          </div>
      {% else %}
          <h1 class="logo ms-auto" id="page-title"><a href="{% url 'login' %}">Iniciar sesión</a></h1>
      {% endif %}
  </div>
</header>
<br><br><br><br><br><br>
<style>
  /* Estilos personalizados */
  .custom-tab {
    background-color: #0474cc;
    color: #fff;
  }

  .custom-tab:hover {
    background-color: rgba(25, 119, 204, 0.2);
    color: #000;
  }

  .custom-tab.active {
    background-color: #0474cc;
    color: #fff;
  }

  @media (max-width: 992px) {
    .col-lg-4 {
      flex: auto;
      width: 100%;
    }
  }

  body {
    background-color: rgba(25, 119, 204, 0.2);
    /*background-color: #f1f7fd;*/
  }


  .table-primary th {
    background-color: #0474cc !important;
    color: #fff;
  }
</style>
<div class="container">
  <ul class="nav nav-tabs">
    <li class="nav-item">
      <a class="nav-link active custom-tab" id="solicitar-tab" data-bs-toggle="tab" href="#solicitar">Solicitar</a>
    </li>
    <li class="nav-item">
      <a class="nav-link custom-tab" id="consultar-tab" data-bs-toggle="tab" href="#consultar">Consultar Solicitudes</a>
    </li>
  </ul>

  <div class="tab-content">
    <!-- Solicitar -->
    <div id="solicitar" class="tab-pane active">
      <br><br>
      <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="row">
          <div class="col-md-6">
            <div class="mb-3">
              <label for="campoTexto" class="form-label">Observaciones<span class="text-danger">*</span>:</label>
              <textarea type="text" class="form-control" id="campoTexto" required rows="8"></textarea>
            </div>
          </div>

          <div class="col-md-6">
            <!-- HC-->
            <div class="mb-3">
              <label class="form-label">Adjuntar Historia Clínica (JPG o PDF)<span class="text-danger">*</span>:</label>
              <input type="file" class="form-control">
            </div>

            <!-- OR -->
            <div class="mb-3">
              <label class="form-label">Adjuntar Órdenes (JPG o PDF):<span class="text-danger">*</span></label>
              <input type="file" class="form-control">
            </div>
            <div class="text-center">
              <button type="submit" class="btn custom-btn" style="height: auto; background-color: #0474cc; color: #fff;"
                >Enviar</button>
            </div>
          </div>
        </div>
      </form>

    </div>

    <!--Consultar Solicitudes -->
    <div id="consultar" class="tab-pane">
      <br><br>
      <div class="table-responsive">
        <table class="table table-bordered">
          <thead class="table-primary">
            <tr>
              <th>Número de Solicitud</th>
              <th>Fecha de Solicitud</th>
              <th>Estado</th>
              <th>Observaciones de Usuario</th>
              <th>Respuesta</th>
            </tr>
          </thead>
          <tbody>
            {% for petition in petitions %}
            <tr>
              <td>{{ petition.code }}</td>
              <td>{{ petition.date }}</td>
              <td>{{ petition.status }}</td>
              <td>{{ petition.comments }}</td>
              <td>{{ petition.response }}</td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

{% endblock %}