{% extends "base.html" %}
{% load static %}
{% block title %}Oficina{% endblock %}

{% block content %}
<style>
  @media (max-width: 992px) {
      .col-lg-4 {
          flex: auto;
          width: 100%;
      }
  }

  body {
      background-color: rgba(25, 119, 204, 0.2);
      /*background-color: #f1f7fd;*/
  }



  .table-primary th {
      background-color: #0474cc !important;
      color: #fff;
  }
</style>
<header id="header" class="fixed-top">
  <div class="container d-flex align-items-center">
    <h1 class="logo me-auto"><a href="{% url 'index' %}">Libre EPS</a></h1>
    <nav id="navbar" class="navbar order-last order-lg-0">
      <ul>
        <li><a class="nav-link scrollto active" href="{% url 'office:profile' %}">Inicio</a></li>

        <li class="dropdown"><a href="#contact"><span>Canales de atención</span> <i class="bi bi-chevron-right"></i></a>
          <ul>
            <li><a href="{% url 'office:pqr' %}">Registrar PQRS</a></li>
            <li><a href="#">Contáctenos</a></li>
          </ul>
        </li>
      </ul>
      <i class="bi bi-list mobile-nav-toggle"></i>
    </nav>
    {% if user.is_authenticated %}
    <div class="ms-auto" style="display: flex; flex-direction: column; align-items: flex-end;">
      <h1 class="logo " id="page-title"><a>Usuario: Julian Acosta</a></h1>
      <a href="{% url 'office:logout' %}" style="text-decoration: none; color: #0474cc; margin-bottom: 5px;">Cerrar
        sesión</a>

    </div>
    {% else %}
    <h1 class="logo ms-auto" id="page-title"><a href="{% url 'login' %}">Iniciar sesión</a></h1>
    {% endif %}
  </div>
</header>
<br><br><br>
<div class="container">
  <div class="row">
    <div class="   col-md-7 col-lg-5 mx-auto">
      <div class="card border-0 shadow rounded-3 my-5">
        <div class="card-body p-4 p-sm-5">
          <!--<h2>Regístrese</h2>-->
          <div class="tab-content">
            <div class="tab-pane fade show active" id="pills-login" role="tabpanel" aria-labelledby="tab-login">
              <form method="post" action="{% url 'office:pqr' %}">
                {% csrf_token %}
                <div class="form-outline mb-4">
                  <input type="text" id="first_name" class="form-control" name="first_name" required />
                  <label class="form-label" for="first_name">Nombre:</label>
                </div>
                <div class="form-outline mb-4">
                  <select name="card_type" class="form-control" id="card_type" required>
                    <option selected>Seleccione tipo documento</option>
                    <option value="cedula">Cédula de Ciudadanía</option>
                    <option value="tarjeta">Tarjeta de Identidad</option>
                    <option value="extranjeria">Cédula de Extranjería</option>
                    <option value="pasaporte">Pasaporte</option>
                    <option value="reg_civil">Registro Civil</option>
                    <option value="adul_no_identificado">Adulto no identificado</option>
                    <option value="menor_no_identificado">Menor no identificado</option>
                    <option value="diplomatico">Documento Diplomático</option>
                    <option value="salvo_conducto">Salvoconducto</option>
                    <option value="pep">Permiso especial de permanencia</option>
                    <option value="ppt">Permiso por protección temporal</option>
                  </select>
                  <label class="form-label" for="card_type">Tipo de documento</label>
                </div>
                <div class="form-outline mb-4">
                  <input type="number" id="Document" class="form-control" name="card_number"
                    oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);"
                    maxlength="10" required />
                  <label name="card_number" class="form-label" for="card_number">Número de documento</label>
                </div>
                <div class="form-outline mb-4">
                  <select id="gender" name="gender" class="form-control" required>
                    <option selected>Seleccione género</option>
                    <option value="Masculino">Masculino</option>
                    <option value="Femenino">Femenino</option>
                    <option value="Prefiero no decir">Prefiero no decir</option>
                  </select>
                  <label class="form-label" for="gender">Género</label>
                </div>
                <div class="form-outline mb-4">
                  <input type="date" id="birth_date" name="birth_date" class="form-control" required>
                  <label class="form-label" for="birth_date">Fecha de nacimiento:</label>
                </div>
                <div class="form-outline mb-4">
                  <input class="form-control" type="text" id="cell_phone" name="cell_phone" pattern="[0-9]{10}" required>
                  <label class="form-label" for="cell_phone">Celular:</label>
                </div>
                <div class="form-outline mb-4">
                  <input class="form-control" type="text" id="phone" name="phone" pattern="[0-9]{10}">
                  <label class="form-label" for="phone">Teléfono:</label>
                </div>
                <div class="form-outline mb-4">
                  <input type="email" id="email" class="form-control" required />
                  <label class="form-label" for="email">Correo:</label>
                </div>
                <div class="form-btn-div"><button type="submit" class="form-btn">Registrar PQR</button></div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}