{% extends "base.html" %}
{% load static %}
{% block title %}Oficina{% endblock %}

{% block content %}
<header id="header" class="fixed-top">
    <div class="container d-flex align-items-center">
        <h1 class="logo me-auto"><a href="{% url 'index' %}">Libre EPS</a></h1>
        <nav id="navbar" class="navbar order-last order-lg-0">
          <ul>
            <li><a class="nav-link scrollto active" href="{% url 'office:profile' %}">Noticias</a></li>
            
            <li class="dropdown"><a href="#contact"><span>Canales de atención</span> <i class="bi bi-chevron-right"></i></a>
              <ul>
                <li><a  href="{% url 'office:pqr' %}">Registrar PQRS</a></li>
                <li><a href="#">Contáctenos</a></li>
              </ul>
            </li>          
          </ul>
          <i class="bi bi-list mobile-nav-toggle"></i>
        </nav>
        {% if user.is_authenticated %}
            <div class="ms-auto" style="display: flex; flex-direction: column; align-items: flex-end;">          
                <h1 class="logo " id="page-title"><a>Usuario: Julian Acosta</a></h1>
                <a href="{% url 'office:logout' %}" style="text-decoration: none; color: #0474cc; margin-bottom: 5px;">Cerrar sesión</a>
                
            </div>
        {% else %}
            <h1 class="logo ms-auto" id="page-title"><a href="{% url 'login' %}">Iniciar sesión</a></h1>
        {% endif %}
    </div>
  </header>


<br>
<style>
    @media (max-width: 992px) {
        .col-lg-4 {
            flex: auto;
            width: 70%;
        }
    }
    body{
        background-color: rgba(25, 119, 204, 0.2);
        /*background-color: #f1f7fd;*/
    }
</style>
<section id="services_" class="services" style="
display: flex;
align-items: center;
justify-content: center;
height: 900px;
">
    <div class="container">
        <div class="add_options_profile">

        </div>

        <!--<div class="section-title">
            <h2>Servicios</h2>
            <p>Gestiona tus citas médicas, autorizaciones, certificaciones y más</p>
        </div>-->

        <div class="custom-row" style="
        display: inline-flex;
        justify-content: center;
        flex-direction: row;
        flex-wrap: wrap;
        align-content: stretch;
    ">
            <div class="col-lg-4 col-md-6  align-items-stretch mt-lg-0" >
                <div class="icon-box">
                    <div class="icon"><i class="fas fa-pills"></i></div>
                    <h4><a href="{% url 'office:authorizations' %}">Autorizaciones</a></h4>
                    <p>Consulte, renueve y genere sus autorizaciones</p>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 align-items-stretch mt-4 mt-lg-0">
                <div class="icon-box">
                    <div class="icon"><i class="fas fa-heartbeat"></i></div>
                    <h4><a href="{% url 'office:module_quotes' %}">Citas médicas</a></h4>
                    <p>Agende, reprograme o cancele sus citas</p>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 align-items-stretch mt-4 mt-lg-0">
                <div class="icon-box">
                    <div class="icon"><i class="fas fa-hospital-user"></i></div>
                    <h4><a href="{% url 'office:personal' %}">Información personal</a></h4>
                    <p>Actualice su informacion personal y de contacto</p>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 align-items-stretch mt-4 mt-lg-0">
                <div class="icon-box">
                    <div class="icon"><i class="fas fa-hospital-user"></i></div>
                    <h4><a href="{% url 'office:module_quotes' %}">Historia clínica</a></h4>
                    <p>Historias clínicas generadas por Libre EPS</p>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 align-items-stretch mt-4 mt-lg-0">
                <div class="icon-box">
                    <div class="icon"><i class="fas fa-notes-medical"></i></div>
                    <h4><a href="{% url 'office:certifications' %}">Certificaciones</a></h4>
                    <p>Certificados de afiliación, pagos e incapacidades</p>
                </div>
            </div>

        </div>

    </div>
</section><!-- End Services Section -->
{% endblock %}