{% extends "base.html" %}
{% load static %}

{% block title %}Citas{% endblock %}

{% block contentmq %}
<header id="header" class="fixed-top">
  <div class="container d-flex align-items-center">
      <h1 class="logo me-auto"><a href="{% url 'index' %}">Libre EPS</a></h1>
      <nav id="navbar" class="navbar order-last order-lg-0">
        <ul>
          <li><a class="nav-link scrollto active" href="{% url 'office:profile' %}">Inicio</a></li>
          <li><a class="nav-link scrollto" href="{% url 'office:authorizations' %}">Autorizaciones</a></li>
          <li class="dropdown"><a href="#contact"><span>Canales de atención</span> <i class="bi bi-chevron-right"></i></a>
            <ul>
              <li><a href="{% url 'office:pqr' %}">Registrar PQRS</a></li>
              <li><a href="#">Contáctenos</a></li>
            </ul>
          </li>          
        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav>
      {% if user.is_authenticated %}
          <div class="ms-auto" style="display: flex; flex-direction: column; align-items: flex-end;">          
              <h1 class="logo " id="page-title"><a>Usuario: Julian Acosta</a></h1>
              <a href="{% url 'office:logout' %}" style="text-decoration: none; color: #0474cc; margin-bottom: 5px;">Cerrar sesión</a>
              
          </div>
      {% else %}
          <h1 class="logo ms-auto" id="page-title"><a href="{% url 'login' %}">Iniciar sesión</a></h1>
      {% endif %}
  </div>
</header>
<style>
  @media (max-width: 992px) {
    .col-lg-4 {
      flex: auto;
      width: 100%;
    }
  }

  body {
    background-color: rgba(25, 119, 204, 0.2);
  }

  .h-s {
    background-color: rgba(25, 119, 204, 0.2);
    height: 100%;
  }

  .cal {
    text-align: center;
    width: 300px;
    border: 2px solid #0474cc;
    padding: 10px;
    margin-bottom: 20px;
  }

  .cal ol {
    list-style: none;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    margin: 0;
    padding: 0;
  }

  .cal .month {
    text-align: center;
    color: #274962;
    font-weight: bold;
    background-color: #0474cc;
    color: #fff;
    padding: 5px;
    margin-bottom: 10px;
  }

  .cal .day {
    text-align: right;
    background-color: #0474cc;
    color: #fff;
  }

  .cal .number {
    cursor: pointer;
    user-select: auto;
    color: #7a848c;
    transition: background-color 0.2s ease;
    display: inline-block;
    width: 30px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    border-radius: 50%;
  }

  .cal .number:hover {
    background-color: #0474cc;
    color: #fff;
  }

  .cal .number.selected {
    background-color: #fff;
    color: #7a848c;
  }

  .cal .selected {
    background-color: #fff;
    color: #7a848c;

  }

  .cal {
    text-align: center;
    width: 300px;
    border: 1px solid #7a848c;
    background-color: #fff
  }

  .selectable {
    cursor: pointer;
    user-select: none;
  }

  .selected {
    background-color: #fff;
    color: black;

  }

  li {
    text-align: center;

  }

  ol {
    list-style: none;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
  }

  .fd {
    grid-column-start: 5;
  }

  .dm {
    background-color: #fff;
    color: #314b5b;
    text-align: center;
  }
.butq {
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    justify-content: center;
    margin-top: 10px;
}
  .canc{
    background-color: #921010;
  }
  .ges{
    background-color: #0474cc;
    margin-top: 5px;
    margin-bottom: 5px;
}
.margin-right {
    margin-left: 200px; /* Puedes ajustar el valor según sea necesario */
}
.table-quotes{
  max-height: 700px;
    overflow-y: auto;
  width: 2100px;
}


</style>
<br><br><br><br><br><br>

<div class="container" style="display: grid;">
  <div class="row">
    <!--Select-->
    <div class="col-md-4">
      <select class="form-select mb-3" aria-label="Seleccione Especialidad">
        <option selected>Seleccione Especialidad</option>
        <option value="general">General</option>
        <option value="odontologica">Odontológica</option>
        <option value="ayudas_diagnosticas">Ayudas Diagnósticas</option>
        <option value="medicina_interna">Medicina Interna</option>
      </select>

     <!-- tabla citas disponibles-->
      <div class="row ">
        <div class="col-md-6 table-quotes">
          <form method="POST" action="{% url 'office:created_quotes' %}" id="agendarForm">
              {% csrf_token %}
              <input type="hidden" id="doctorInput" name="doctor">
              <input type="hidden" id="dateInput" name="date">
              <input type="hidden" id="hourInput" name="hour">
              <input type="hidden" id="ipsInput" name="ips">
              <table class="table">
                  <thead>
                      <tr>
                          <th>Doctor</th>
                          <th>Fecha</th>
                          <th>Hora</th>
                          <th>IPS</th>
                          <th></th>
                      </tr>
                  </thead>
                  <tbody>
                      {% for quote in available_quotes %}
                      <tr class="cita-disponible" data-doctor="{{ quote.doctor }}" data-date="{{ quote.date }}"
                          data-hour="{{ quote.hour }}" data-ips="{{ quote.ips }}">
                          <td>{{ quote.doctor }}</td>
                          <td>{{ quote.date }}</td>
                          <td>{{ quote.hour }}</td>
                          <td>{{ quote.ips }}</td>
                          <td><button type="button" class="form-btn agendar-btn">Agendar</button></td>
                      </tr>
                      {% endfor %}
                  </tbody>
              </table>
          </form>
      </div>      
      </div>
      <br><br><br><br>
    </div>
    
    <div class="col-md-8 ">

      <div class="col-md-6 margin-right">

        <div id="calendario" class="cal">
          <div class="month">Diciembre</div>
          <ol>
            <li class="dm">L</li>
            <li class="dm">M</li>
            <li class="dm">Mi</li>
            <li class="dm">J</li>
            <li class="dm">V</li>
            <li class="dm">S</li>
            <li class="dm">D</li>

            <li class="number fd selectable selected"><a href="{% url 'office:available_quotes' %}">1</a></li>
            <li class="number selectable selected"><a href="{% url 'office:available_quotes' %}">2</a></li>
            <li class="number selectable selected"><a href="{% url 'office:available_quotes' %}">3</a></li>
            <li class="number selectable selected"><a href="{% url 'office:available_quotes' %}">4</a></li>
            <li class="number selectable selected"><a href="{% url 'office:available_quotes' %}">5</a></li>
            <li class="number selectable selected"><a href="{% url 'office:available_quotes' %}">6</a></li>
            <li class="number selectable selected"><a href="{% url 'office:available_quotes' %}">7</a></li>
            <li class="number selectable selected"><a href="{% url 'office:available_quotes' %}">8</a></li>
            <li class="number selectable selected"><a href="{% url 'office:available_quotes' %}">9</a></li>
            <li class="number selectable selected"><a href="{% url 'office:available_quotes' %}">10</a></li>
            <li class="number selectable selected"><a href="{% url 'office:available_quotes' %}">11</a></li>
            <li class="number selectable selected"><a href="{% url 'office:available_quotes' %}">12</a></li>
            <li class="number selectable selected"><a href="{% url 'office:available_quotes' %}">13</a></li>
            <li class="number selectable selected"><a href="{% url 'office:available_quotes' %}">14</a></li>
            <li class="number selectable selected"><a href="{% url 'office:available_quotes' %}">15</a></a></li>
            <li class="number selectable selected"><a href="{% url 'office:available_quotes' %}">16</a></li>
            <li class="number selectable selected"><a href="{% url 'office:available_quotes' %}">17</a></li>
            <li class="number selectable selected"><a href="{% url 'office:available_quotes' %}">18</a></li>
            <li class="number selectable selected"><a href="{% url 'office:available_quotes' %}">19</a></li>
            <li class="number selectable selected"><a href="{% url 'office:available_quotes' %}">20</a></li>
            <li class="number selectable selected"><a href="{% url 'office:available_quotes' %}">21</a></li>
            <li class="number selectable selected"><a href="{% url 'office:available_quotes' %}">22</a></li>
            <li class="number selectable selected"><a href="{% url 'office:available_quotes' %}">23</a></li>
            <li class="number selectable selected"><a href="{% url 'office:available_quotes' %}">24</a></li>
            <li class="number selectable selected"><a href="{% url 'office:available_quotes' %}">25</a></li>
            <li class="number selectable selected"><a href="{% url 'office:available_quotes' %}">26</a></li>
            <li class="number selectable selected"><a href="{% url 'office:available_quotes' %}">27</a></li>
            <li class="number selectable selected"><a href="{% url 'office:available_quotes' %}">28</a></li>
            <li class="number selectable selected"><a href="{% url 'office:available_quotes' %}">29</a></li>
            <li class="number selectable selected"><a href="{% url 'office:available_quotes' %}">30</a></li>
            <li class="number selectable selected"><a href="{% url 'office:available_quotes' %}">31</a></li>
          </ol>
        </div>
      </div>
    </div>
    
    <h1 class="logo " id="page-title"><a>Citas pendientes</a></h1>
    <div class="row">
      <div class="col-md-8 table-responsive">
        <!-- tabla citas agendadas-->
        <table class="table " id="tabla-citas-agendadas">
          <thead>
            <tr>
              
              <th>Doctor</th>
              <th>Fecha</th>
              <th>Hora</th>
              <th>IPS</th>
              <th>Acción</th>
            </tr>
          </thead>
          <tbody>
            {% for quote in created_quotes %}
            <tr>
          
              <td>{{ quote.doctor }}</td>
              <td>{{ quote.date }}</td>
              <td>{{ quote.hour }}</td>
              <td>{{ quote.ips }}</td>
              <td>
                <a href="{% url 'office:quotes' %}"  type="submit" class="butq ges">Gestionar</a>
                <a href="{% url 'office:quotes' %}"  type="submit" class="butq canc">Cancelar</a>
              </td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>

    </div>
  </div>
</div>

<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>

<script>
  $(document).ready(function () {
    // Inicializar el calendario
    $("#calendario .number.selectable").on("click", function () {
      // Manejar el evento de clic en el día seleccionable
      $(this).toggleClass("selected");

      // Mostrar la tabla correspondiente cuando se hace clic en un número
      mostrarTabla();
    });

    // Función para mostrar la tabla según los números seleccionados
    function mostrarTabla() {
      // Obtener los números seleccionados
      var numerosSeleccionados = $("#calendario .number.selected");

      // Verificar si hay al menos un número seleccionado
      if (numerosSeleccionados.length > 0) {
        // Aquí puedes realizar la lógica para mostrar la tabla correspondiente
        console.log("Mostrar tabla para los números seleccionados:", numerosSeleccionados.text());
      }
    }
  });
</script>

<script>
  document.addEventListener('DOMContentLoaded', function () {
    // Agregar un manejador de eventos clic a los botones "Agendar"
    document.querySelectorAll('.agendar-btn').forEach(function (button) {
      button.addEventListener('click', function (event) {
        event.preventDefault();
        const row = this.closest('tr');

        // Mover la fila a la tabla de citas agendadas
        document.getElementById('tabla-citas-agendadas').getElementsByTagName('tbody')[0].appendChild(row.cloneNode(true));

        const clonedRow = document.getElementById('tabla-citas-agendadas').getElementsByTagName('tbody')[0].lastChild;
        clonedRow.querySelector('.agendar-btn').remove();

        // Agregar botones "Gestionar" y "Cancelar" a la fila clonada en la tabla de citas agendadas
        const actionCell = clonedRow.lastElementChild;
        actionCell.innerHTML = `
          
          <a href="{% url 'office:quotes' %}" type="submit" class="btn btn-danger">Cancelar</a>
        `;

        // Opcional: Eliminar la fila de la tabla de citas disponibles
        row.remove();

        // Opcional: Actualizar los valores de los campos ocultos en el formulario
        document.getElementById('doctorInput').value = row.dataset.doctor;
        document.getElementById('dateInput').value = row.dataset.date;
        document.getElementById('hourInput').value = row.dataset.hour;
        document.getElementById('ipsInput').value = row.dataset.ips;

        // Agregar manejador de eventos clic para el botón "Cancelar" en la fila clonada
        const cancelBtn = actionCell.querySelector('.canc');
        cancelBtn.addEventListener('click', function () {
          // Obtener los datos de la cita de la fila clonada
          const canceledQuote = {
            doctor: clonedRow.dataset.doctor,
            date: clonedRow.dataset.date,
            hour: clonedRow.dataset.hour,
            ips: clonedRow.dataset.ips,
          };

          // Aquí debes implementar la lógica para cancelar la cita y devolverla a available_quotes
          // ...

          // Opcional: Devolver la fila a la tabla de citas disponibles
          document.getElementById('tabla-citas-disponibles').getElementsByTagName('tbody')[0].appendChild(clonedRow.cloneNode(true));

          // Opcional: Eliminar la fila de la tabla de citas agendadas
          clonedRow.remove();
        });

        
      });
    });
  });
</script>


{% endblock %}